<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Product Search</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://kit.fontawesome.com/b99e675b6e.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static\css\styles.css">
    
  </head>
  <body>
    <div>
        <ul class="horizontal">
            <li><a class="active" href='/'>Home</a></li>
            <li><a class="#" href='/Manager'>Manager</a></li>
          </ul>
    </div>

    <div class="outer">
        <h1>Product name</h1>
        <div class="inner">
            <div id="ID-A1"></div>
            <div id="ID-B1"></div>
            <div id="ID-C1"></div>
            <div id="ID-D1"></div>
            <div id="ID-E1"></div>
            <div id="ID-F1"></div>

            <div id="ID-A2"></div>
            <div id="ID-B2"></div>
            <div id="ID-C2"></div>
            <div id="ID-D2"></div>
            <div id="ID-E2"></div>
            <div id="ID-F2"></div>

            <div id="ID-A3"></div>
            <div id="ID-B3"></div>
            <div id="ID-C3"></div>
            <div id="ID-D3"></div>
            <div id="ID-E3"></div>
            <div id="ID-F3"></div>
            
            <div id="ID-A4"></div>
            <div id="ID-B4"></div>
            <div id="ID-C4"></div>
            <div id="ID-D4"></div>
            <div id="ID-E4"></div>
            <div id="ID-F4"></div>

            <div id="ID-A5"></div>
            <div id="ID-B5"></div>
            <div id="ID-C5"></div>
            <div id="ID-D5"></div>
            <div id="ID-E5"></div>
            <div id="ID-F5"></div>

            <div id="ID-A6"></div>
            <div id="ID-B6"></div>
            <div id="ID-C6"></div>
            <div id="ID-D6"></div>
            <div id="ID-E6"></div>
            <div id="ID-F6"></div>

            <div id="ID-A7"></div>
            <div id="ID-B7"></div>
            <div id="ID-C7"></div>
            <div id="ID-D7"></div>
            <div id="ID-E7"></div>
            <div id="ID-F7"></div>
        </div>
    </div>
  </body>
</html>